<main>
  <div class="header">
    <app-header></app-header>

    <!-- Sense fer el log in -->
    @if (!loggedIn) {
    <div class="login">
      <input type="text" [(ngModel)]="name" aria-label="text" placeholder="Nom d'usuari" />
      <button (click)="login()">Iniciar sessió</button>
    </div>
    }
  </div>

  <!-- Al fer el log in -->
  @if (loggedIn) {
  <div class="content">
    <p class="welcome">Benvingut/da {{ name }}</p>

    <div class="content-row">
      <div class="sidebar">
        <div class="thumbnails">
          <!-- Fer servir l'index com a track si: la llista mai canvia d’ordre o no afegeixes ni elimines 
          elements al mig, millor fer servir un track únic, com un id, codi, etc... -->
          @for (file of imgFiles; track file; let idx = $index) {
          <img [src]="IMGS_PATH + file" alt="file" class="thumb" />
          }
        </div>

        <button class="random-btn" (click)="onButtonClicked($event)">
          Imatge aleatòria
        </button>
      </div>

      <div class="mainview">
        <img [src]="imgFile" [alt]="imgFiles[imgIdx]" class="large" />
      </div>
    </div>
  </div>
  }

  <router-outlet></router-outlet>
</main>